--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.23.5
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ultralytics==8.0.199
deep_sort_realtime
opencv-python-headless
filterpy
lap
scikit-image
boto3
psycopg2-binary